<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/signup.js"></script>
    <!-- <script src="/js/signup.js" defer></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
<body >
    <section>
        <form action="/req/signup" method="post">
            <h1>Sign Up</h1>
            <div class="inputbox">
                <i class="fa-solid fa-user i-con"></i>
                <input type="text"  id="username" name="username" required>
                <label for="">Name</label>
            </div>
            <div class="inputbox">
                <i class="fa-solid fa-envelope i-con"></i>
                <input type="email" name="email" id="email" required>
                <label for="">E-mail</label>
            </div>
            <div class="inputbox">
                <i class="fa-solid fa-key i-con"></i>
                <input type="password" name="password" id="password" required>
                <label for="">Password</label>
            </div>
            <div class="inputbox">
                <i class="fa-solid fa-key i-con"></i>
                <input type="password" name="passwordconf" id="passwordconf" required>
                <label for="">Confirm Password</label>
            </div>
            <button id="submit" type="submit">Sign Up</button>
            <div class="register">
                <p>Aleardy have an account? <a href="/login">Log In</a></p>
            </div>

        </form>
    </section>
</body>
</html>

<Script>

    const submitButton = document.getElementById('submit');
    submitButton.addEventListener('click', ()=>{
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const confirmpassword = document.getElementById('passwordconf').value;
        const email = document.getElementById('email').value;
        const data ={
            username,
            password,
            email
        }
        if(password == confirmpassword){
            const jsonData = JSON.stringify(data);
            fetch('/req/signup',{
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json'
                },
                body: jsonData
            })
            .then(response =>{
                alert('succesfull');
        if(response.status == 200){
          alert('succesfull');
        xs}
            })
        }


    })
</Script>